*{
    margin: 0;
}
.menu{
    background-color: white;
    display: flex;
    height: 130px;
    top: 1px;
}
.logo img{
    height: 130px;
    margin-left: 30px;
}
nav{
    flex-grow: 3;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    list-style: none;
    margin-top: 32px;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #633a11;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a:hover{
    color: #f95E59;
}
header{
    height: 580x; 
    display: flex;
}


header h1{
    font-family: 'Calistoga', cursive;
    font-size: 50px;
    color: #633a11;
    letter-spacing: 5px;
    margin-left: 50px;
    margin-top: 50px;
} 
header h2{
    font-family: 'Calistoga', cursive;
    font-size: 20px;
    color: #633a11;
    letter-spacing: 2px;
    margin-left: 50px;
    display: flex;
    margin-top: 5px;
}
.imagen{
    background-image: url(IMAGENES/Dumbo2.png);
    border: 2px solid red;
    height: 500px;
    width: 40%;
    background-position: center;
    background-size: cover;
    justify-content: right;
    display: flex;
    margin: auto;
}
/* .ventana img{
    height: 200px;
    width: 200px;
    justify-content: right;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
} */

.porque{
    background-color: white;
    display: flex;
    height: 650px;

    top: 1px;
}

.derecho{
    width: 60%;
    background-color: #ffb71ce8;
    border: 5px solid #35c4af ;
}

.derecho p{
    padding: 35px;
    font-family:  'Calistoga', cursive;
    font-size: 20px ;
    color: #633a11;
   
}

.izquierdo{
    width: 30%;
    background-color: #35c4afb2;
    height: 160px;
    margin-top: 240px;
}

.izquierdo h1{
    font-family:  'Calistoga', cursive;
    font-size: 30px ;
    color: #633a11;
    padding: 42px;
    text-align: center;
    padding-top: 50px;

}




