*{
    margin: 0;
}
.menu{
    background-color: white;
    display: flex;
    height: 130px;
    top: 1px;
}
.logo img{
    height: 130px;
    margin-left: 30px;
}
nav{
    flex-grow: 3;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    list-style: none;
    margin-top: 32px;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #633a11;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a:hover{
    color: #f95E59;
}
header{
    height: 580x; 
}
header h1{
    font-family: 'Calistoga', cursive;
    font-size: 50px;
    color: #633a11;
    letter-spacing: 5px;
    margin-left: 50px;
    width: 50%;
    margin-top: 50px;
} 
header h2{
    font-family: 'Calistoga', cursive;
    font-size: 20px;
    color: #633a11;
    letter-spacing: 2px;
    margin-left: 50px;
    display: flex;
    margin-top: 5px;
}
.imagen{
    background-image: url(IMAGENES/Dumbo2.png);
    border: 2px solid red;
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    justify-content: right;
    display: flex;
    margin: auto; 
}
section{
    /* background-color: white; */
}
.ventana1{
    height: 580px;
    background-color: rosybrown;
} 